# Python
*.pyc
__pycache__/

# Django specific
db.sqlite3
*.log
*.pot
*.pyc
*.mo
*.log
local_settings.py
media/
staticfiles/

# If you're using environment variables for sensitive info
.env

# Virtual Environment
.venv/
venv/
ENV/
env/
*.env

# VSCode or IDE specific
.vscode/
.idea/

# MacOS files
.DS_Store

# Node Modules if you're using Node.js with Django
node_modules/

# JetBrains IDEs specific
.idea/
